.custom-arrow,
.custom-next-arrow,
.custom-prev-arrow {
  font-size: 30px;
  cursor: pointer;
  opacity: 0.75;
}

.custom-arrow {
  position: absolute;
  bottom: 0;
  top: 50%;
  z-index: 100000;
}

.custom-next-arrow {
  right: 0;
}

.slider {
  position: relative;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  display: flex;
  align-items: center;
  min-height: 350px;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  margin: 0 30px;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
