.wrapper {
  max-width: 100%;
  position: relative;
}

.custom-arrow,
.custom-next-arrow,
.custom-prev-arrow {
  font-size: 29px;
  cursor: pointer;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  bottom: 0;
  z-index: 100000;
  background-color: aqua;
  color: white;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 100%;
}

.custom-next-arrow {
  right: 0;
}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  display: flex;
  align-items: center;
  min-height: 350px;
  margin: 0 -30px;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

